BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInContainerLiterals: true
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
